.wrapper {
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 20px;
	font-size: 2;

	/*margin: 0 auto;*/
	position: relative;
}

.wrapper .li {
	display: inline-block;
}

.wrapper img.icon {
	border-radius: 50%;
	border: solid 4px #fff;
}